body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#styling-session-container {
    display: flex;
    width: 100%;
    height: 100%;
}

#wishi-root {
    flex: 1;
    background: white;
    height: calc(100vh - 82px);
}

#cart-items {
    width: 300px;
    flex: 0 0;
    border: solid 1px gray;
    height: 100%;
}